.voting-options-container {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.voting-option {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5%;
  font-weight: 500;
  background-color: #c489ff;
}