.auth-button {
    width: 250px;
    border: 1px solid #9e9e9e;
    cursor: pointer;
    margin: 0px auto 8px;
    outline: none;
    min-height: 42px;
    border-radius: 3px;
    background-color: #ffffff;
    font-weight: 500;
  }
  
  .extension-header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .extension-header-logo {
    width: 32px;
    height: 32px;
    margin-left: 15px;
  }

  .extension-header-close {
    margin-right: 15px;
    color: rgb(189, 189, 189);
  }
  
  .extension-body {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
  }
  
  .extension-footer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }